.navbar-container{
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100vw;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    z-index: 999;
    box-sizing: border-box;
    padding: 0px 7vw;
}
.darkModeIcon{
    color: black;
}